@media screen and (max-width: 992px) {
    .title {
        font-size: 3em;
    }

    .time {
        font-size: 2em;
    }

    .desc-time {
        font-size: 2em;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .time {
        font-size: 1em;
    }

    .desc-time {
        font-size: 1em;
    }
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 1em;
    }

    .time {
        font-size: 1em;
    }

    .desc-time {
        font-size: 0.6em;
    }
}
