* {
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .05em;
}

.title-first {
    /* height: 20vh; */
    font-size: 4em;
}

.title-mid {
    /* height: 15vh; */
    font-size: 4em;
}

.title-last {
    /* height: 10vh; */
    font-size: 4.5em;
}

.time {
    height: 40vh;
    width: 100vw;
    font-size: 3em;
}

.days,
.hours,
.minutes,
.seconds {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
}

.description {
    height: 32%;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
