* {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
}

.border {
    border-radius: 25px;
}

.border .smalltext {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.shadow {
    text-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
}